.navigation {
  padding-top: 55px;
}

.navigation__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.navigation__item {
  width: 33%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navigation__info {
  width: 70%;
  margin-left: 15px;
  padding-right: 10px;
}

.navigation__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
}

.navigation__brand {
  .reset();
  list-style: none;
  margin-top: 5px;
  
  li {
    display: inline-block;
    vertical-align: baseline;
    font-size: 12px;
    line-height: 1.83;
  }
}

.navigation__img {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
